<ul>
    <% @basket_items.each do |basket_item| %>
        <% item = basket_item.item %>
        <li><%="#{item.name}  :      £ #{item.price}"%> <%= link_to "Remove", basket_item_path(basket_item.id), data: { 'turbo-method' => :delete } %></li> 
    <% end %>
    <p><%="Current total(without any calculated discounts)  -      £ #{@basket.total} "%></p>
</ul>
<%= link_to "go back", items_path %>
<%= link_to "Continue to checkout", checkout_path(@basket.checkout.id) %>

